.calcbody {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 10px;
    width: 400px;
    height: 500px;
}

.display {
    display: flex;
    align-items: center;
    background-color: greenyellow;
    border: solid black 4px;
    height: 22px;
    padding: 4px;
}

.calcbuttons {
    display: grid;
    grid-gap: 16px;
    grid-template-areas: 
    "add subtract multiply divide"
    "seven eight nine equal"
    "four five six equal"
    "one two three clear"
    "zero zero decimal clear";
    background-color: orangered;
    padding: 40px;
    height: 400px;
}

.add {
    grid-area: add;
}
.subtract {
    grid-area: subtract;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.decimal {
    grid-area: decimal;
}
.equal {
    grid-area: equal;
}
.clear {
    grid-area: clear;
}


/* .mainbtns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */